<h1>All classes with the name "<%= @result.name %>"</h1>
<table class="table table-responsive table-bordered table-striped">
  <tr>
    <td>
    Course Name
    </td>
    <td>Teacher</td>
  </tr>
      <tr>
        <td>
          <a href="/course/<%=@result.id%> "><h4><%=@result.name%> </h4></a>
        </td>
        <td>
          <%=@result.teacher%>
        </td>

      </tr>
</table>