<h1>Welcome to Staples Study, <%=@nameme.username%></h1>
<p>
<div class="text">
  This is a site dedicated to Staples students. First thing you should do is start searching for your classes
and joining them. If your class does not exist, then just create it. Next you'll want to start posting notes. The more notes on the site will
allow the site to become better, because everybody will have access to more information. Many of the notes posted will be specifically directed
the real class at Staples.
</div>
</p>
<div class="text2">Search for a class using the search bar at the top</div>
<div class="img">
<img src="<%=@picture%>">
</div>
<br>
<br>
<br>
<div class="copyright">"Staples Study" was created by Nathanael Metke</div>



