<div id="login">
<h1>Login to Staples Study</h1>

  <form method="post" action="/user/auth" class="form-inline">
    <input type="username" class="form-control" placeholder="Username" name="username" required id="username" ><br>
    <input type="password" class="form-control" placeholder="Password" name="password"required id="password"><br>
    <form method="post" action="/user/auth/"><button type="submit" value="Sign in" class="btn btn-primary">Log in</button></form><br>
  </form>
  <hr>
  <form method="get" action="/user/new" class="update-form"><input type="submit" value="New? Sign up!" class="btn btn-primary"></form>
</div>