<form method="post" action="/setprofile" class="form-inline">
  <input id="input" class="form-control" placeholder="Picture URL" name="picurl" >
  <input type="submit" value="Set Profile Picture" class="btn btn-primary">
</form>