<form method="post" action="/setprofile" class="form-inline">
  <input id="input" class="form-control" placeholder="Picture URL" name="picurl" >
  <input type="submit" value="Set Profile Picture" class="btn btn-primary">
</form>
<form method="post" action="/aboutme" class="form-inline">
  <input id="input" class="form-control" placeholder="About Me" name="aboutme" >
  <input type="submit" value="Save" class="btn btn-primary">
</form>
